extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let animalid = toShow._id
    
    - let animalcount = toShow.count
    - let animal_location  = toShow.location
    - let animalname = toShow.name
    
    - let actionid = "/resource/animal/" + animalid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='animalAttr mr-3') animal ID is: 
      span(style="color:red") #{animalid}
    div.row
    div(class='animalAttr mr-3') animal Count  is: 
      span(style="color:red") #{animalcount}
    div.row
    div(class='animalAttr mr-3') animal location is: 
      span(style="color:red") #{animal_location}
    div.row
    div(class='animalAttr mr-3') animal name is: 
      span(style="color:red") #{animalname}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the animal collection
    window.location.href='/animal'
    }
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/animal'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }
